/* Khoảng cách cho game container trong thư mục go */
#game {
    margin-top: 30px !important; /* Khoảng cách ngắn hơn so với trang papa */
    margin-bottom: 20px !important;
}

/* Màu trắng cho Discussion trong dark mode */
.dark-mode .section-title-area h3 {
    color: #ffffff !important;
} 