# Dependencies
node_modules/
package-lock.json

# Build files
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Environment files
.env
.env.local
.env.*.local

# Editor directories
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
